@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --srf: rgba(2, 0, 36, 0.1);
    --on-srf: rgba(38, 70, 83);
}

#no-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a.button {
    text-decoration: none;
}

a {
    text-decoration: underline;
    color: #2ea1ee;
}

p {
    font-size: 0.9em;
}

h1.typewriter {
    border-right: .15em solid var(--on-srf);
    animation: caret .9s step-end infinite;
}

@keyframes caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--on-srf);
    }
}

header {
    display: flex;
    justify-content: left;
}

h1.name {
    margin-top: 0.5rem;
    margin-bottom: 0px;

    padding-right: 0.4rem;
}

html,
body {
    background: rgb(243, 134, 249);
    background: linear-gradient(90deg, rgba(243, 134, 249, 1) 0%, rgba(0, 255, 254, 1) 100%, rgba(2, 0, 36, 1) 100%);
    color: var(--on-srf);
    font-family: 'Poppins', 'sans-serif';
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    justify-content: center;
    align-items: stretch;

    margin: auto;
    padding: 1.15rem;

    width: 89%;
}

.content {
    display: flex;
    flex-direction: column;
}

.title,
.description {
    margin: 0.35rem;
}

.icon {
    width: 18%;
}

.link {
    background-color: rgba(2, 0, 36, 0.1);
    color: var(--on-srf);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.75rem;

    padding: 1.15rem;
    padding-left: 1.75rem;
    padding-right: 1.75rem;

    transition: 0.25s;
}

.link:active {
    transform: scale(1.05);
    filter: brightness(1.1);

    transition: 0.25s;
}

@media (min-width:320px) {
    main {
        width: 90%;
    }
}

@media (min-width:481px) {
    main {
        width: 86%;
    }

    .link {
        padding: 1.25rem;
    }
}

@media (min-width:641px) {
    main {
        width: 76%;
    }
}

@media (min-width:961px) {
    main {
        width: 58%;
    }

    .link:hover {
        transform: scale(1.05);
        filter: brightness(1.1);

        transition: 0.25s;
    }
}

@media (min-width:1025px) {
    main {
        width: 46%;
    }
}

@media (min-width:1281px) {
    main {
        width: 32%;
    }

    .link {
        padding: 1.8rem;
    }
}